<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vue To Do List</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="https://kit.fontawesome.com/bc42e2820a.js" crossorigin="anonymous"></script> 
</head>
<body>
    <div id="app">
        <div class="container">

            <h1>Titolo</h1>
            <div>
                <input type="text"
                 v-model="newTodoInputVal"
                 @keyup.enter="addTodo()">
                <button @click="addTodo()">Aggiungi</button>

                <!-- <p class="error">Elemento non valido</p> -->
            </div>
            <div class="main" v-if="todos.length > 0">
                <h3>Cose da fare:</h3>
                <ul>
                    <li class="list-item"
                     v-for="(todo,index) in todos
                    " :class="todo.done === true ? 'line' : ''"
                    @click="isDone(index)" :key="index">{{ todo.text }}
                    <span class="close-icon" @click.stop="deleteTodo(index)"><i class="fa-solid fa-xmark"></i></span>
                    </li>
                </ul>

            </div>
            <div class="main" v-else>
                <h3>Non ci sono cosa da fare </h3>
            </div>
        </div>



    </div>

    


    <script src="./js/main.js"></script>
</body>
</html>