<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vue To Do List</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="https://kit.fontawesome.com/bc42e2820a.js" crossorigin="anonymous"></script> 
</head>
<body>
    <div id="app">
        <div class="container">

            <h1>Titolo</h1>
            <div>
                <input type="text" v-model="newTodo.text" @keyup.enter="addTodo()">
                <button @click="addTodo()">Aggiungi</button>

                <p class="error">Elemento non valido</p>
            </div>
    
            <h3>Cose da fare:</h3>
            <ul>
                <li v-for="(todo,index) in todos
                " :class="todo.done === true ? 'line' : ''"
                @click="isDone(index)">{{ todo.text }}
                <span class="close-icon" @click="deleteTodo(index)"><i class="fa-solid fa-xmark"></i></span>
                </li>
            </ul>
        </div>



    </div>

    


    <script src="./js/main.js"></script>
</body>
</html>